* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Spartan';
}

html {
    height: 100%;
}

body {
    height: 100%;
    display: flex;
}

#main {
    position: relative;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

img.position1 {
    position: absolute;
    top: -70px;
    left: -110px;
}

img.position2 {
    position: absolute;
    bottom: -70px;
    right: -100px;
}

#top-contents {
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
}

header {
    width: 30%;
}

header h1 {
    font-size: 40px;
    font-weight: bolder;
    color: hsl(300, 43%, 22%);
    margin-bottom: 10px;
}

header p {
    color: hsl(303, 10%, 53%);
    font-size: 13px;
    line-height: 20px;
    font-weight: 400;
}

.rated-card {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: hsl(300, 24%, 96%);
    margin: 15px;
    text-align: center;
    border-radius: 5px;
    padding: 15px 0 15px 30px;
}

.rated-card:nth-child(1) {
    right: 85px;
}

.rated-card:nth-child(2) {
    right: 45px;
}

.rated-card p {
    padding-right: 20px;
    font-size: 12px;
    font-weight: 700;
    color: hsl(300, 43%, 22%);
}

.stars {
    padding: 0px 25px 0 0;
}

.stars img {
    width: 15px;
    height: 15px;
}

#bottom-contents {
    width: 100%;
    justify-content: center;
    display: flex;
}

.bottom-card {
    width: 300px;
    height: 200px;
    background-color: hsl(300, 43%, 22%);
    border-radius: 5px;
    margin: 70px 15px;
}

.bottom-card:nth-child(2) {
    margin-top: 90px;
}

.bottom-card:nth-child(3) {
    margin-top: 110px;
}

.profile {
    display: flex;
    align-items: center;
}

.profile img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 20px;
}

.profile p {
    font-size: 10px;
    line-height: 17px;
}

.name {
    color: hsl(0, 0%, 100%);
    font-weight: 700;
    letter-spacing: 1px;
}

.ver {
    color: hsl(333, 80%, 67%);
    letter-spacing: 1px;
}

.description {
    width: 90%;
    margin: auto;
    font-size: 12px;
    color: hsl(0, 0%, 100%);
    line-height: 20px;
}